


body{
	background: #382518;
}

#contenedor{
	background: #cea7a1;
	width: 70%;
	margin: 100px 15%;
	height: 380px;
	padding: 50px 0;
	border-radius: 25px;
	font-size: 300px;
	font-family: helvetica;
	text-align: center;
}
#contenedor span{
	font-size: 30px;
}
#contenedor span span{
	font-size: 20px;
}